language: scala
scala:
- 2.10.7
- 2.11.12
- 2.12.4
jdk:
- oraclejdk8
- oraclejdk9
dist: trusty
sudo: false
addons:
  apt:
    packages:
    - graphviz
install:
- pip install --user codecov
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
script:
- sbt ++$TRAVIS_SCALA_VERSION validate
after_success:
- codecov
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/a22ea519223977cc7fc9
    on_success: change
    on_failure: always
    on_start: false

matrix:
  include:
  - scala: 2.11.12
    sudo: required
    before_install:
    - curl https://raw.githubusercontent.com/scala-native/scala-native/v0.3.1/bin/travis_setup.sh | bash -x
    script:
    - sbt ++$TRAVIS_SCALA_VERSION coreNative/compile validate
